.app {
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}

.length__label {
  font-family: inherit;
  font-size: inherit;
}

.length__input {
  font-family: inherit;
  font-size: inherit;
  margin: 0 5px;
  padding: 2px;
}

.text-form {
  display: inline;
}

.format-button {
  background-color: #e6e6e6;
  border-radius: 2px;
  font-size: inherit;
  margin-right: 5px;
  padding: 3px 8px;
}

.format-button:hover {
  background-color: #d6d6d6;
}

.text {
  display: block;
  font-family: serif;
  font-size: inherit;
  height: 700px;
  margin-top: 10px;
  outline: none;
  width: 100%;
}
